//VARIABLES
$accent: (#333)
$bg: (#ddd)

//MIXINS




//STYLES
body
    font-family: sans-serif
    margin: 0

header
    height: 450px
    background: url('assets/img/drip-copy.jpg') center center
    background-size: cover
    
    .logo
        height: 50px
        width: 50px
        background-image: url('assets/img/CircleStar.png')
        background-size: cover
        float: left
        margin: 10px 0 0 30px
        
    nav
        float: right
        margin: 30px 30px 0 0 
        a
            display: inline-block
            text-decoration: none
            margin-left: 20px
            color: rgba(0,0,0,0.6)
            font:
                weight: 700
                size: 14px
            text-transform: uppercase
            
            &:hover
                color: rgba(0,0,0,1)
h1
    font:
        size: 90px
        weight: 700
    color: white
    text-transform: uppercase
    text-align: center
    letter-spacing: 0.1em
    margin-bottom: 20px
    clear: both
    padding-top: 100px
    
    span
        display: inline-block
        padding: 0.2em 0.5em
        border: 10px solid white
        background: rgba(0,0,0,0.6)
        
.kicker
    text-align: center
    font:
        weight: 700
        size: 14px
    text-transform: uppercase
    letter-spacing: 0.1em
    color: white
    
footer
    height: 200px
    background: url('assets/img/drip-copy.jpg') center center
    background-size: cover
    
    
    .lockup
        padding: 70px 30px
        clear: both
    
        .logo
            height: 50px
            width: 50px
            background-image: url('assets/img/CircleStar.png')
            background-size: cover
            float: left

        .content-wrap
            float: left
            margin-left: 30px

        nav 
            a
                display: inline-block
                text-decoration: none
                margin-right: 20px
                color: white
                font:
                    weight: 700
                    size: 14px
                text-transform: uppercase

                &:hover
                    color: #333

    .copyright
        font:
            weight: 400
            size: 12px
        text-transform: uppercase
        color: white
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    